# ignore everything by default
*

# keep the gitignore itself
!.gitignore

# keep README files
!README
!README.*
!readme
!readme.*

# keep scripts directory and its contents
!scripts/
!scripts/**

# keep data directory and its contents
!data/
!data/**

# always ignore R history files
**/.Rhistory
**/Rhistory